*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

:root{
    --blue: #0d4683;
    --gold: #c7943f;

}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
  }
  
  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  
  main {
    width: 300px;
    height: 99%;
    position: absolute;
    margin-left: 0px;
    background-color: var(--blue);
    z-index: 100;
  }
  
  #agentMenu {
    width: 300px;
    height: 99%;
    position: absolute;
    margin-left: 0px;
    background-color: var(--blue);
    z-index: 100;
  }
  
  #agentMenu button {
    width: 100%;
    height: 50px;
    border: none;
    margin-top: 5px;
    background-color: var(--gold);
  }
  
  #agentMenu button.active {
    background-color: #333;
    color: #fff;
  }
  
  #agentDetails {
    margin-left: 300px;
    width: 77%;
    height: 100%;
    display: flex;
    background-image: url('../images/icons.jpg');
    background-size: contain;
    position: absolute;
  }
  
  #agentDetails h2 {
    color: #333;
    margin-bottom: 10px;
  }
  