*{
    margin: 0px;
    padding: 0px;
}

:root{
    --blue: #0d4683;
    --gold: #c7943f;

}

.menu{
    background-color: var(--blue);
    width: 200px;
    height: 100%;
    position: relative;
    margin-left: 0px;
}