*{
    margin: 0px;
    padding: 0px;
}

:root{
    --blue: #0d4683;
    --gold: #c7943f;

}

body {
    font-family: Arial, sans-serif;
    background-size: contain;
    padding: 0;
    display: flex;
    height: 100vh;
}

.menu{
    width: 300px;
    height: 100%;
    position: relative;
    margin-left: 0px;
    background-color: var(--blue);
}

